
.header 
{ position: absolute;
  padding: 15px 10%;
  height: 100px; 
  width: 100%;  
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;

}





.main-nav ul {
	margin: 0.5em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
  font-size: 18px;

}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
  color: white;
  font-family: Arial Rounded MT, sans-serif;
  letter-spacing: 1px;

}
